<div class="col-sm-12">
  <!-- BEGIN BORDERED TABLE PORTLET-->
  <div class="portlet light portlet-fit ">
      <div id="gym_users_table" class="portlet-title">
          <div class="caption">
              <span class="caption-subject sbold uppercase" style="color: #455A64 !important">Gym Users</span>
          </div>
          <div class="actions">
              <div class="btn-group btn-group-devided" >
                <!-- <%= link_to 'Create Notification', new_push_notification_path(@gym), class:"btn btn-outline btn-sm active btn-blue", style: "text-decoration:none"%> -->

              </div>
          </div>

      </div>
      <div class="portlet-body" style="padding-top: 0;">
          <div class="table-scrollable table-scrollable-borderless" style="overflow: visible;">
              <table class="table table-hover table-light">
                  <thead>
                      <tr class="uppercase" >
                          <th style="color: #455A64"> # </th>
                          <th style="color: #455A64"> Name </th>
                          <th style="color: #455A64"> Email </th>
                          <th style="text-align:center; color: #455A64"> Since </th>
                          <th style="text-align:center; color: #455A64"> Actions </th>
                      </tr>
                  </thead>
                  <tbody>
                    <%  @gym_users_pages.each_with_index  do |user, index| %>
                      <tr>
                          <td><%= index+1 %></td>
                          <td><%= user.name %></td>
                          <td><%= user.email %></td>
                          <td style="text-align:center; "><%= user.created_at.strftime("%m/%d/%Y") %></td>
                          <td>
                            <div class="actions" style="text-align:center">
                              <div class="btn-group">
                                  <a class="btn dark btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" style="text-decoration: none;"> Actions
                                      <i class="fa fa-angle-down"></i>
                                  </a>
                                  <ul class="dropdown-menu pull-right">

                                    <!-- <li class="divider"> </li> -->
                                    <li>
                                        <a href="javascript:;">View Profile</a>
                                    </li>
                                  </ul>
                              </div>
                          </div>
                         </td>
                      </tr>
                    <% end %>
                  </tbody>
              </table>
          </div>
          <div class="row">
            <div class="col-sm-12" style="">
              <div class="dataTables_paginate paging_bootstrap_number" id="sample_1_paginate">
                <%= will_paginate @gym_users_pages, :renderer => BootstrapPagination::Rails, class: 'pagination-sm text-center', :param_name => 'users_page', :params => {:anchor => 'gym_users_table'} %>
              </div>
            </div>
        </div>
      </div>
  </div>
  <!-- END BORDERED TABLE PORTLET-->
</div>
