<div class="col-xs-12 col-lg-8 col-lg-offset-2" style=" margin-top: 3vh; padding:15px;">
  <div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
          <span class="caption-subject bold uppercase" style="font-size:24px"><%= @user.name %></span><br />
          <small style="font-size:12px; color:gray"><%= @user.created_at.strftime("Member Since: %m/%d/%Y") %></small>
          <!-- <small style="color:gray"><%= @user.name %></small> -->
        </div>
        <div class="actions">
          <%= link_to :back, :class => "btn btn-circle btn-icon-only red" do %>
            <i class="icon-trash"></i>
          <% end %>
          <% if signed_in? and current_user == @user%>
            <%= link_to edit_user_registration_path, :class => "btn btn-circle btn-icon-only blue" do %>
                <i class="icon-cloud-upload"></i>
            <% end %>
          <% end %>
          <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
        </div>
    </div>
    <div class="portlet-body form">
      <div class="row" style="margin-bottom:15px">
        <div class="col-xs-12 col-sm-4">
          <%= image_tag @user.image.url(:medium), style: "width:100%; height:200px; object-fit:cover;" %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <%= image_tag @user.second_image.url(:medium), style: "width:100%; height:200px; object-fit:cover;" %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <%= image_tag @user.third_image.url(:medium), style: "width:100%; height:200px; object-fit:cover;" %>
        </div>
      </div>
      <div class="form-group form-md-line-input form-md-floating-label" style="margin-bottom:15px">
          <textarea class="form-control" rows="3" readonly="" placeholder="<%= @user.description %>"></textarea>
          <!-- <input type="text" class="form-control" readonly="" value="<%= @user.description %>" id="form_control_1"> -->
          <label for="form_control_1">Description</label>
      </div>
      <div class="form-group form-md-line-input form-md-floating-label" style="margin-bottom:15px">
          <input type="text" class="form-control" readonly="" value="<%= @user.email %>" id="form_control_1">
          <label for="form_control_1">Email</label>
      </div>
      <div class="form-group form-md-line-input form-md-floating-label" style="margin-bottom:15px">
          <input type="text" class="form-control" readonly="" value="<%= @user.name %>" id="form_control_1">
          <label for="form_control_1">Name</label>
      </div>
      <div class="form-group form-md-line-input form-md-floating-label" style="margin-bottom:15px">
          <input type="text" class="form-control" readonly="" value="<%= @user.gender %>" id="form_control_1">
          <label for="form_control_1">Gender</label>
      </div>
      <div class="form-group form-md-line-input form-md-floating-label" style="margin-bottom:15px">
          <input type="text" class="form-control" readonly="" value="<%= @user.gender_match %>" id="form_control_1">
          <label for="form_control_1">Gender Match</label>
      </div>
      <div class="form-group form-md-line-input form-md-floating-label" style="margin-bottom:15px">
          <input type="text" class="form-control" readonly="" value="<%= @user.workout_level %>" id="form_control_1">
          <label for="form_control_1">Workout Level</label>
      </div>
      <div class="form-group form-md-line-input form-md-floating-label" style="margin-bottom:15px">
          <input type="text" class="form-control" readonly="" value="<%= @user.workout_time %>" id="form_control_1">
          <label for="form_control_1">Workout Time</label>
      </div>
      <div class="row text-center">
        <%= link_to "Go Back", :back, :class => "btn btn-next", :style => "color:white; border-radius: 5px !important; margin-top:10px; background: #FF5252; font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif'; text-shadow:none; text-decoration:none; width: 92%"%>

      </div>
    </div>
  </div>                    <!-- END EXAMPLE TABLE PORTLET-->
</div>
