<div style=" margin-top: 3vh; padding:15px;">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-6">
        <h1 class="page-title"> <%= @gym.name %>
          <small><%= @gym.created_at.strftime("Member Since: %m/%d/%Y") %></small>
        </h1>
      </div>
      <div class="col-xs-6" style="text-align: right; padding-right: 0;">
        <div class="actions">
            <div class="btn-group btn-group-devided" >
              <% unless @gym.active %>
                <button id='linkButton' class="btn green btn-outline btn-sm active" style="border-color: #941010; background-color: #FF5252; text-decoration:none">Activate Gym</button>
              <% end %>
              <%= link_to 'Edit Gym', edit_user_gym_path(current_user, @gym), class:"btn green btn-outline btn-sm active", style: "border-color: #941010; background-color: #FF5252; text-decoration:none"%>

            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat dashboard-stat-v2">
          <%= image_tag( @gym.image? ? @gym.image.url(:medium) : 'logo-placeholder.png', class: "img-responsive", style: "margin:0 auto; height: 120px; object-fit: cover") %>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <a class="dashboard-stat dashboard-stat-v2" href="#" style="background: #455A64; color: white">
              <div class="visual" style="opacity: .1;">
                  <i class="fa fa-users"></i>
              </div>
              <div class="details" style="">
                  <div class="number">
                      <span data-counter="counterup" data-value="12,5"><%= @gym_users.count %></span> </div>
                  <div class="desc"> Total Users </div>
              </div>
          </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <a class="dashboard-stat dashboard-stat-v2 green" href="#">
              <div class="visual">
                  <i class="fa fa-envelope"></i>
              </div>
              <div class="details">
                  <div class="number">
                      <span data-counter="counterup" data-value="549"><%= @gym.push_notifications.count %></span>
                  </div>
                  <div class="desc"> Push Notifications </div>
              </div>
          </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
              <div class="visual">
                  <i class="fa fa-line-chart"></i>
              </div>
              <div class="details">
                  <div class="number"> +
                      <span data-counter="counterup" data-value="89"></span><%= @monthly_popularity >= 0 ? @monthly_popularity : 0%>% </div>
                  <div class="desc"> Monthly Growth</div>
              </div>
          </a>
      </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background:#FF5252; color: white;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Activate Gym</h4>
      </div>

      <div class="modal-body">
        <h4 class="text-center">Choose a Plan</h4>
        <div class="mt-radio-list" style="margin: 0 auto; width: 60%;">
          <label class="mt-radio mt-radio-outline" style="font-weight: 300; font-size: 16px;"> Yearly Subscription <strong>($150)</strong>
              <input value="2" name="subscriptionType" type="radio" checked="checked">
              <span></span>
          </label>
          <label class="mt-radio mt-radio-outline" style="font-weight: 300; font-size: 16px;"> Monthly Subscription <strong>($15)</strong>
              <input value="1" name="subscriptionType" type="radio">
              <span></span>
          </label>
      </div>
      <hr />
      <h4 class="text-center">Choose Method of Payment</h4>
      <div style="text-align:center">
        <a class="payment-method-btn icon-btn btn-blue" href="javascript:;">
            <i class="fa fa-credit-card-alt fa-2x">
                <i></i>
            </i>
            <div class="text"> Credit Card </div>
        </a>
        <a id="plaidButton" class="payment-method-btn icon-btn btn-blue" href="javascript:;">
            <i class="fa fa-university fa-2x">
                <i></i>
            </i>
            <div class="text"> ACH Transfer </div>
        </a>
      </div>

      </div>
    </div>

  </div>
</div>

<%= render "gyms/partials/gym_push_notifications_table" %>

<%= render "gyms/partials/gym_users_table" %>

<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script>
// ---------Plaid Support-----------
var linkHandler = Plaid.create({
  // env: 'tartan',
  clientName: 'My Gym Connect',
  // key: '7201f0759c970f392be584a23d38e4',
  env: "<%= ENV['PLAID_ENV']%>",
  key: "<%= ENV['PLAID_PUBLIC_KEY']%>",
  product: ['auth'],
  apiVersion: 'v2',
  selectAccount: true,
  onSuccess: function(public_token, metadata) {
    // Send the public_token and account ID to your app server.
    var params = {
        public_token: public_token,
        account_id: metadata.account_id,
        plan_id: $('input:radio[name="subscriptionType"]:checked').val()
        // centAmount: 4000

      };
      // TODO find gym_id before now
    $.post('<%= Rails.application.routes.url_helpers.gyms_path %>/' + '<%= @gym.id %>' + "/subscription", params)
      .done( function(data, status, xhr) {
        // setMessage('The Face of Giving team would like to thank you for your donation and we hope you enjoy your selfie!');
        // hideLoading();
        console.log("SUCCESSFUL CREATION OF SUBSCRIPTION");
        alert("alert successful plaid stripe");
      })
      .fail( function(xhr, status, err) {
        console.log("FAILED SUBSCRIPTION");
        alert("sub failed");
        // hideLoading();
        // setMessage('Uh oh we had a problem with your payment. Please try your donation again shortly or contact support@creativechatter.com to complete your donation.  Your selfie number is ' + selfie_id);
        // // showUploadSelfieButton();
        // // clearUploadSelfieButtonEvents();
        // clearPaySelfieButtonEvents();
        // $('#pay-selfie').click(function(){processing = false;});
        // $('#pay-selfie').click(openPayHandler(handler));
      });
  },
  onExit: function(err, metadata) {
      // The user exited the Link flow.
      if (err != null) {
        // The user encountered a Plaid API error prior to exiting.
      }
      // metadata contains information about the institution
      // that the user selected and the most recent API request IDs.
      // Storing this information can be helpful for support.
    }
});

// Trigger the Link UI
document.getElementById('linkButton').onclick = function() {
   $("#myModal").modal("show");
};

document.getElementById('plaidButton').onclick = function() {
  linkHandler.open();
};

</script>
