<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image, id: "user_image" %>
    <% if f.object.image_file_name != nil %>
      <br />
      <div style="border:1px solid black; border-radius: 5px; padding:10px;">
        <div id="user_image_preview"></div>
        <div id="user_image_current">
          <%=f.check_box(:remove_image) %>
          <%= label :remove_image, "Remove Image" %>
          <br />
          <%= image_tag current_user.image.url(:medium)%>
        </div>
      </div>
    <% end %>
  </div>


  <!-- <div class="field" style="padding-top:10px">
    <h3>Select workout blocks</h3>
    <table>
      <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wensday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
      <% block_count = 0 %>
      <tr>
      <% (0..6).each do |i| %>
        <td>

          <%= select_hour(@monday_opening_hour, prompt: 'Choose hour block') %>

        </td>
      <% end %>
        </tr>

    </table>
  </div> -->

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

<script>
$(function() {
  $('#user_image').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      console.log(file);
      img.src = file.target.result;
      img.width = 400;
      $('#user_image_preview').html(img)
      $('div.user_image_preview > img').attr('width', '440');

      $('#user_image_current').hide();
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});


</script>
